.button-2{
    color: blue;
    background-color: aqua;
    border-radius: 12px;
}
#myntra-1{
    color: green;
    background-color: rgb(88, 226, 88);
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
}
.myntra-2{
    padding: 5px 40px;
    border-radius: 10px;
    border: 2px solid black;
}

